@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');



body {
  background:url('../images/ujaqgg3dya021.jpg') no-repeat center center;
  background-size:cover;
  background-position: top;        
}

.navbar {
  
  margin-left: 9%;
  margin-top: 7.5%;
  
}