@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');



body {
  background:url('../images/ujaqgg3dya021.jpg') no-repeat center center;
  background-size:cover;
  background-position: top;        
}

.navbar {
  
  margin-left: 9%;
  margin-top: 6.6%;
  
}

.btn {
  box-shadow: 5px 5px;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border:solid 5px #41403E;
}