@import url('https://fonts.googleapis.com/css2?family=Castoro&family=Raleway:wght@300&display=swap');


body, html {
  
  max-width: 100%;
  height: 100%;
  font-family: 'Castoro', serif;
  font-weight: bold;
  font-size: 17px;
}



/* --------------------------------------------------------------------------------------Fonts */   

p {
  font-family: 'Raleway', sans-serif;
}



/* --------------------------------------------------------------------------------------Nav Bar */      
.banner {
  
  background:url('../images/ujaqgg3dya021.jpg') no-repeat center center;
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 175%;
  position: relative;
  
  
}


.fullscreen-nav {
  text-align: center;
  padding-left: 0;
  
  
  

}

.navbar {
  position: absolute;
  z-index: 1;
  float: left;
  padding-top: 0;
  width: 100%;
  
  
  
}

.nav-link {
  
  width: 130px;
}



.btn {
  margin-left: 20%;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.7);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border:solid 5px #41403E;
}

.small-nav {
  padding-top: 50px;
  padding-left: 8%;
}
/* --------------------------------------------------------------------------------------Band Pictures */   

.band-images{
  
  text-align: center;
  padding: 80px 0px 40px 0px;
  
  height: 100%;
 
  
  
}

.single-pics {
  
  padding: 0;
  margin-bottom: 40px;
  
}

.pics-no-border {
  box-shadow: 5px 5px rgba(0, 0, 0, 0.7);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  
  
}

/* --------------------------------------------------------------------------------------Band Info */ 

#band-info {
  width: 100%;
  padding-bottom: 80px;
}

.underline {
  text-decoration: underline;
}

.band-text {
  text-align: center;
}

.band-row {
  margin: 0;
}
/* --------------------------------------------------------------------------------------Video & Audio */   

.media {
  
  margin: 110px 50px 45px 50px;
}


.vimeo {
  
  margin-bottom: 50px;
  
}


/* --------------------------------------------------------------------------------------Footer*/   
.page-footer {
  position: absolute;
  right: 0;
  left: 0;
  padding: 1rem;
    
}

.social-links {

  text-align: right;
  margin: 0;
  padding-right: 3px;
  width: 100%;
  
}

.icons {

 padding: 0px 10px 0px 10px;

}

.fab {
  color: #41403E;
}

.fa-soundcloud {
  padding-left: 10px;
}


/* --------------------------------------------------------------------------------------Tour Page*/ 

.tour-info {
  text-align: center;
  margin-top: 110px;
}

.ticket-row {
  margin-bottom: 30px;
}

.date-box, .city-box {
  padding-top: 15px;
}

/* --------------------------------------------------------------------------------------Contact Page */

#contact-form {
  text-align: center;
  margin: 110px;
}

.email, .password {
  padding-left: 25%;
  width: 80%;
}

.submit-btn {
  margin-left: 0;
}
/* --------------------------------------------------------------------------------------Media Queries */   


@media screen and (min-width: 400px) {
  .banner {
    background-size: cover;
    height: 140px;
  
    }
  
}

@media screen and (min-width: 500px) {
  .banner {
    background-size: cover;
    height: 140px;
    }
  
}

@media screen and (max-width: 576px) {
  .social-links {
    
    overflow: hidden;
    width: 100%;
    max-height:100%;        
    text-align: center;
    
    
  }
}


@media screen and (max-width: 767px) {
  .pics-no-border {
    object-fit: cover;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
  }
    
  }
      
       

@media screen and (min-width: 800px) {
  .banner {    
    background-size: cover;
    min-height: 175px;
   }
   .small-nav {
    padding-top: 65px;
    
  }

  .band-images{
    padding-top: 120px;
  }
  
  }

@media screen and (min-width: 900px) {
  .banner {  
    background-size: cover;
    min-height: 185px;
     }
     .small-nav {
      padding-top: 70px;
      
    }
  
              }
    

@media screen and (min-width: 1000px) {
  .banner {      
    background-size: cover;
    min-height: 200px;   
       }

  
            }
    

@media screen and (min-width: 1100px) {
 .banner {
            
  background-size: cover;
  min-height: 220px;
        
  }

  .fullscreen-nav {
    padding-top: 11px;
  }

 
        }
    
@media screen and (min-width: 1200px) {
  .banner {  
       
    background-size: cover;
    min-height: 240px;  
              
           }
  .fullscreen-nav {
    padding-top: 21px;
  }
 
    }


@media screen and (min-width: 1300px) {
  .banner {             
    background-size: cover;
    min-height: 260px;
             }
      
  .fullscreen-nav {
    padding-top: 31px;
            }
 }

@media screen and (min-width: 1400px) {
  .banner {              
    background-size: cover;
    min-height: 280px;       
      }

  .fullscreen-nav {
    padding-top: 41px;
                }
              }
  
          
@media screen and (min-width: 1500px) {
  .banner {
    background-size: cover;
    min-height: 300px;
                 }

  .fullscreen-nav {
    padding-top: 51px;
      }
    }

@media screen and (min-width: 1600px) {
  .banner {   
    background-size: cover;
    min-height: 320px;
    margin-right: 20px;   
                   }

  .fullscreen-nav {
    padding-top: 61px;
      }
    }